[submodule "src/app/teachers"]
	path = src/app/teachers
	url = https://github.com/2019-BLM441/module-140202121.git
[submodule "src/app/activities"]
	path = src/app/activities
	url = https://github.com/2019-BLM441/module-gulsahkacan.git
[submodule "src/app/reports"]
	path = src/app/reports
	url = https://github.com/2019-BLM441/module-150202142.git
[submodule "src/app/conversations"]
	path = src/app/conversations
	url = https://github.com/2019-BLM441/module-160201145.git
[submodule "src/app/drug-monitor"]
	path = src/app/drug-monitor
	url = https://github.com/2019-BLM441/module-160201138
[submodule "src/app/student"]
	path = src/app/student
	url = https://github.com/2019-BLM441/module-160201139.git
