app-logo {
    width: 90px;
    margin: auto;
    display: block;
    margin-top:45px;
}

.logo-content {
    color:#351331
}

ion-button {
    margin-top:10px;
}

ion-item {
    --highlight-color-valid:#351331;
}