// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


calendar {
    
    .event-detail-container
    {
        display: none; 
    }
    .monthview-container {
        height:auto!important
    }
}

.ogrenciHeader 
{
    --background:#521c4c;
    height:150px;
    overflow: hidden;
    --overflow: hidden;

    img {
        width:64px;
        height: 64px;
        border-radius:50%;
        margin-top:10px;
    }

    p {
        line-height: 10px;
        color:#fff;
    }
}